<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3915605715-g2lkhrps9r8e1dratrsa2dtkpui9f68b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3915605715-g2lkhrps9r8e1dratrsa2dtkpui9f68b</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjAHKcW5gz0zVn4T7BNNpiXbUyhGyNZw</string>
	<key>GCM_SENDER_ID</key>
	<string>3915605715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamDam.SoapboxNew</string>
	<key>PROJECT_ID</key>
	<string>soapbox-c569b</string>
	<key>STORAGE_BUCKET</key>
	<string>soapbox-c569b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3915605715:ios:096297d587194acd06d626</string>
	<key>DATABASE_URL</key>
	<string>https://soapbox-c569b.firebaseio.com</string>
</dict>
</plist>